.widget,
.miniWidget {
  border: 1px solid orange;
}

.dashContainer {
  // border: 1px solid green;
}

.menuIcon {
  border: 1px solid red;
}

.dash {
  border: 1px solid black;
}

.settings {
  border: 1px solid blue;
}

.menu {
  border: 1px solid white;
}

.miniDashCont {
  border: 1px dotted red;
}

//Dash page^^
.loginContainer {
  border: 1px solid red;
}

//Login page^^
